@{
    ViewBag.Title = "ABOUT A TO Z AUTO";
}
<h2 style="color:red;">@ViewBag.Title </h2>
@{ 
    ViewBag.Message = "We sell good used car";
}
<h3 style="color:red"><strong>@ViewBag.Message </strong></h3>

<p class="focus">
    A TO Z AUTOAUCTION is a leader in re-marketing technology. A TO Z AUTOAUCTION.COM has also evolved from over 20 years of experience in the Automotive and Salvage Auction industry in the United States.

    WHO WE ARE
    AIA Direct Inc., is the parent company for ATOZAUTOAUCTION.COM. It has long term working relationships which it has made over the past two decades with  countless affiliate brokers whom are licensed and bonded, which are registered insurance companies, purchasing vehicles in bulk packages during catastrophes, allowing us to offer countless vehicles at discounted prices. salvage vehicles for sale is second nature to us, we know which vehicles to protect our customers from buying, we have data that broker sites will never have. Broker's simply want to make their commission. Our administration believes buying Quality Salvage Vehicles takes a unique and experienced person, as many vehicles are not what they seem, to the naked and untrained eye. We ask our customers to be patient in the event we have their best interests and decided to pass on a vehicle. We urge any impatient, demanding customers to use broker sites. We do allow our customers to bid themselves directly at some if not most of the insurance salvage auctions. You can also pay for the vehicle within 2 business days directly at the Insurance Auction Facility with certain Insurance Auctions that allow it, some DO NOT allow the general public to pay them directly.. Our administration is if not the most transparent of all, largest selection, cares about the end user, although we are in an industry in which it is so difficult to make everyone happy. We work with our customers through any mishaps and we grow together, we offer a VIP concierge type service that brokers are unable to, We have few competitors, of which whom have experience in Technology but not in the Salvage Industry, our staff knows the laws, title laws, will guide you every step of the way to ensure your experience is profitable.  Whether you are an experienced licensed car dealer or just an individual interested in buying vehicles, we put our knowledge and experience at your service. We are ready to provide you with clear and detailed information on each vehicle on our venue, so that you could feel confident in what you are buying. We’ll make your salvage vehicle buying experience an unforgettable one!

    Why Should I use ATOZAUTOAUCTION?
    Well, there are countless reasons you should use our venue over others simply because of our experience, our data from the insurance companies in three to four times the amount of vehicles any other salvage company or auction broker have that are on the market. We only sell true insurance vehicles to our customers, and best of all our agents are not sales agents they do not work off commission as in most car dealers ships and salvage yards. Our agents work on salary, they have nothing to benefit by misleading you, we encourage our customers not to purchase certain vehicles that slip through the cracks, represented as insurance cars, but are truly dealer or repair shop vehicles which at times have more damage than meets the eye.  We have the best prices and best of all, the choices are endless.  We strive to do our best and many of our customers whom have acquired vehicles that have had more damage were assisted in reselling them as we place vehicles back in the auctions for you, as we cannot guarantee damage. Vehicles are sold as is, at times our brokers might miss cars, but our agents end up working with our customers on better replacement vehicles. Most of our customers have open minds, understand their are countless things that can go wrong but they also understand there is always another deal a few hours later and or a few days later. We encourage our customers to bid on 5 to 10 vehicles and we do not require deposits unlike many of our competitors for each vehicle. We work with licensed and bonded brokers, we have an exceptional BBB rating, we are registered with the American Salvage Pool Association, our transactions are completely transparent you can pay for vehicles at facilities during time of pick up with an official bank check, and the list goes on as there are countless reasons to deal with our associates and work with our team. Not to mention our staff is honest, polite, and work hard for you as they appreciate their employment here at ATOZAUTOAUCTION. Give us the opportunity to assist you with a vehicle, or vehicles of your choice, we strive to make your experience as smooth and seamless as possible more so profitable.

    WHAT WE DO
    We provide a large inventory of salvage cars, motorcycles, boats, trucks, trailers, jet skis, ATVs and snowmobiles. All you have to do is register FREE on our website. It will take you no more than 30 seconds to complete our registration process and within a lightning speed you are free to start bidding and buying withithout needing your own Motor Vehicle Dealer license.

    By using our service you get the best salvage car buying opportunity online. With ATOZ Auto Auction you are eligible to bid on and buy salvage vehicles offered for sale at Insurance Auctions in all the 50 states. Our exclusive online system will allow you to follow every step in the whole process of purchasing salvage vehicles. For those who have a busy schedule and find it difficult to stay in tune with the bidding process, Insurance Auctions in the United States offers a preliminary bidding system which enables our customers to place maximum bids on salvage cars of their interest at any time before the virtual proxy sale begins.

    WHO WE ARE AND COMPETITOR COMPARISON
    A TO Z AUTOAUCTION.COM is an online venue that offers you direct access to Insurance vehicles around the country each day. Our team consists of experienced innovators and pioneers in the industry who revolutionized the industry by offering impressively low prices to our customers. In essence we virtually eliminate middlemen and their profits. Customers do not require licenses to bid at auctions because our affikiate brokers posses all the licenses needed to purchase these vehicles, but also salvage bid cards required in certain states to place bids on damaged vehicles.  Our team includes trained professionals in the insurance auction industry.  We are unlike most other sites, and we offer outstanding VIP Service. Our customers and our team, work in sync until a vehicle is acquired for a customer at a reduced price. Our prices are truly competitive and we invite comparisons with any other online venues. ATOZ Auto Auction is a group of experienced individuals from the insurance industry, salvage industry and/or financial industry. Our principals work hands on with seasoned exporters in Salvage Vehicles.  ATOZAUTOAUCTION.COM, in collaboration with ATOZ Auto Auction, together with its principals, interacts with industry offices around the world to better serve our customers with variry and exciting choices.
    THE BIDDING EXPERIENCE
    Our team leaders are open to new suggestions and look forward to working with you every step of the way.

    Our Executive Officers have the significant contacts in the insurance salvage industry. Our Insurance auto auction salvage support agents work with team leaders to negotiate the best prices for you with the insurance adjusters, salvage pools, salvage auctions, and rental fleet damaged vehicles.

    We handle the negotiating and the tedious bidding for you. Our team offers unsurpassed advice in the industry, guiding our customers in the right direction, helping to acquire true insurance vehicles being offered directly by the insurance companies themselves.

    Our motto is to mostly avoid Broker and Dealer Vehicles that have been partially repaired. Our teams can only advise, but at the same time, ATOZAUTOAUCTION does its very best to protect its customers.

    It has taken years to negotiate agreements with insurance companies nationwide for data which is otherwise difficult to acquire; but now made available to you in the comfort of your own home.ATOZAUTOAUCTION along with its founders, have one common goal, and that is to offer our customers convenience, parts, shipping, estimates on labor, package deals, best prices, and the simple online registration.

    OUR SIMPLE REGISTRATION
    Although we have a registration fee of only $150 dollars, that is 50% less than many of our competitors. We charge the $150 dollars, for the following reasons:

    It allows our teams to know that you are a serious customer Unlike most competitors, our $150 registration will be applied against the final balance of your purchase The $150 registration is also transferable to a friend/ relative if you are unable to locate a vehicle within a 2-year period
    Please allow ATOZAUTOAUCTION.COM the opportunity to offer you a simplified cost effective experience in the acquisition of a salvage vehicle, at fair and comparable rates, at reasonable prices, and support from experienced experts in the field.

    CUSTOMER PROTECTION
    All of the brokers and transport companies we utilize or refer to customers are licensed and bonded, and their prices competitive.

    Our customers are protected and guided correctly.
    ATOZAUTOAUCTION.COM and its principals value each customer and ultimately would like to address each customer that is not satisfied with our services. Our principals are open to new opportunities and ventures. We ask to be as patient as possible, when expecting a response from the Insurance Company Auctions. In rare cases, vehicles may take up to 10 days for approval.

    Contact our Support Team info@atozautoauction.com

    TRADING IN YOUR OLD/DAMAGED VEHICLE
    ATOZAUTOAUCTION also participates in the Cars for Cash Program. They make large commissions by placing them in our holding facilities. Inquire with our teams about trading in your damaged vehicle, posting your vehicle on our venue for sale or even auctioning off your vehicle with a minimum reserve price that would need your approval. We are a fee-based company and will negotiate the highest possible offer and or bid for your damaged vehicle.

    If you would like to know more this program please do not hesitate to read our Terms of Use and Privacy Policy. You can locate our refund policies listed on our website with very clear instructions on how to process your refund as quickly as possible. We are a very unique facility with talented individuals who strive to get the best prices for you.

    We are not a live Auction! Most sellers have reserve prices but also have countless vehicles that are pure sales, buy now prices, on approval, and minimum bid.

    OUR CUSTOMER PROMISE
    Try us! Give us a call and contact Info@atozautoauction.com today! We promise to work tirelessly to satisfy you!

</pclass="focus">
