@{
    ViewBag.Title = "CONTACT";
}
<h2>@ViewBag.Title.</h2>


<address>
    A to Z Auto Action<br />
    1514 Alter st,Philadephia,PA-19146<br />
    <abbr title="Phone">Ph:</abbr>
    267-206-7671
</address>
<p>
    AIA Direct Inc.(www.atozautoauction.com) is a leading Auto Auction Remarketing company in the United States, with a trusted and reliable reputation. We provide auction vehicles from numerous places around the world.

    Our auction remarketing services are open for you, providing excellent service and value. Our friendly customer service is here to help. No matter how small or large your purchase is, you will receive the highest customer service in the industry.

    CONTACT US TO LEARN MORE ABOUT OUR SERVICES TODAY
    Our customer service is open for you from Monday through Friday, 9:00 AM to 5:00 PM ET.



    Our Location:
    1514 Alter st,Philadephia,PA-19146

</p>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Shemul9007@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Zafor9007@gmail.com</a>
</address>