@{
    ViewBag.Title = "Home Page";
}

<div class="focus">
    <h1s><strong>A TO Z AUTO AUCTION</strong></h1s>
    <p class="focus">
        Thank you for taking the time out to join our community of buyers. By registering with us you are granted access to all vehicle information, images, account management tools and more! Registration takes three simple steps. Please remember to enter a valid e-mail address as a registration confirmation will be sent for your to confirm your account! Thank you for your continued support and patronage.
    </p>
    <p><a href="https://www.ezautoauction.com" class="btn btn-primary btn-lg">Click&raquo;
</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2 style="color:red">ALL In One</h2>
        <p>
        </p>
        <p><a class="btn btn-default" href="https://www.ezautoauction.com">Click &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 style="color:blueviolet">Heavy Duty Truck</h2>
        <p></p>
        <p><a class="btn btn-default" href="https://www.ezautoauction.com/damaged-trucks">Click &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 style="color:palevioletred">Industrial Equipment</h2>
        <p></p>
        <p><a class="btn btn-default" href="https://www.ezautoauction.com/salvage-equipment-for-sale">Click  &raquo;</a></p>
    </div>
</div>
<html>
<head>
    <style>
        
    </style>
</head>
</html>

